<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat APP</title> 
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
</head>
<body>
    
    <input type="text" class="message">
    <button onclick="sendMessage()">Send Message </button> <!-- to input the values/text -->
    <h1> </h1>


    <script> 
        const socket = io('http://localhost:5000') //the connection port 
        
        socket.on('connection') 

        socket.on('message', (data) => {
            document.querySelector('h1').innerHTML = data; 
        })
        const sendMessage = () => {
            //grab the  input messages 
            const messageInput = document.querySelector('.message')
            //grab the value from the input messages
            const message = messageInput.value 
            socket.emit('message', message)
            //store message in mongoose
        } 

        socket.on('json'); 
    </script>
</body>
</html>